$color1: rgb(255, 229, 229);
$color2: rgb(224, 174, 208);
$color3: rgb(127, 106, 151);
$color4: rgb(71, 79, 122);
$color5: rgb(31, 37, 68);
$color6: rgb(216, 217, 218);
$color7: rgb(39, 40, 41);
$color8: rgb(15, 15, 15);
$color9: rgb(255, 255, 255);
// Bootstrap variables
$primary: $color1;
$secondary: $color2;
$info: $color3;
$warning: $color4;
$success: $color5;
$dark: $color8;
$light: $color9;
//deneme
//deneme2