@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;

  .header-left-container {
    display: flex;
    align-items: center;
    gap: 20%;
    .header-nav {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0;
        li {
          a {
            color: black;
            font-size: 16px;
            font-weight: 600;
            text-decoration:none ;
          }
        }
    }
  }
  }
.header-right-container {
  display: flex;
  align-items: center;
  gap: 40px;
  .login-signup-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    i {
      font-size: 18px;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      a {
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration:none ;
      }
    }
  }
  .add-property-button {
      background-color: transparent;
      cursor: pointer;
      border: none;

      a {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 40px;
        border: 1px solid purple;
        padding-inline: 30px 10px;
        border-radius: 30px;
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-decoration:none ;
        i {
          font-size: 18px;
        }
      }
    }
  }
  }

