@use "../../styles/variables" as v;

.container {
  .card {
    .card-body {
      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      
      .form-floating {
        margin-bottom: 1rem;
      }

      .form-control {
        &.is-invalid {
          border-color: red;
        }
      }

      .image-upload-section {
        margin-top: 2rem;
        text-align: center;

        .image-upload-header {
          display: inline-block;
          margin-bottom: 1rem;
          
          .image-upload-label {
            cursor: pointer;
            background-color: v.$color4;
            color: v.$color9;
            padding: 0.5rem 1rem;
            border-radius: 50%;
            font-size: 2rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }

          input[type="file"] {
            display: none;
          }
        }

        .images-preview {
          display: flex;
          gap: 10px;
          justify-content: center;
          flex-wrap: wrap;

          .image-wrapper {
            position: relative;
            img {
              width: 150px;
              height: 100px;
              object-fit: cover;
              border-radius: 10px;
              cursor: pointer;
              transition: border 0.3s;

              &.selected {
                border: 3px solid v.$color4;
              }
            }

            .delete-button {
              position: absolute;
              top: 5px;
              right: 5px;
              background-color: rgba(255, 0, 0, 0.6);
              border: none;
              color: white;
              padding: 2px 5px;
              border-radius: 50%;
              cursor: pointer;
            }

            .featured-label {
              position: absolute;
              bottom: 5px;
              left: 5px;
              background-color: rgba(0, 0, 0, 0.6);
              color: white;
              padding: 2px 5px;
              border-radius: 5px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
