@use "../../../styles/variables" as v;
 
 .home-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; // Kartlar arasındaki boşluk için
	padding: 20px; // Sayfanın kenarlarından biraz boşluk bırakmak için
  }
  
  .properties-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; // Kartlar arasındaki boşluk için
  }
  
  .properties-grid > * {
	flex: 1 1 calc(33.333% - 20px); // Kartların genişliğini %33.333 yaparak üçlü kolona bölüyoruz ve gap'ı düşüyoruz
	box-sizing: border-box;
  }
  
  @media (max-width: 1200px) {
	.properties-grid > * {
	  flex: 1 1 calc(50% - 20px); // Ekran genişliği 1200px'den küçükse iki kolon yapıyoruz
	}
  }
  
  @media (max-width: 768px) {
	.properties-grid > * {
	  flex: 1 1 100%; // Ekran genişliği 768px'den küçükse tek kolon yapıyoruz
	}
  }
  